*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(48, 177, 236);
}

header{
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
}
section{
    background-color: white;
    width: 500px;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 30px 10px;
}
section p{
    padding: 10px 5px;
}
#flista{
    width: 200px;
}

footer{
    padding-top: 10px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}